@use "variables";

button.disabled {
  cursor: not-allowed;
}

.form-group {
  margin-bottom: 1rem;
  label,
  .text-muted {
    margin-bottom: 0.5rem;
  }
}

#root {
  .app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background: #ebedef;
  }

  input {
    &:focus {
      box-shadow: none;
    }
  }

  button {
    &.registerBtn {
      font-size: 16px;
    }

    &.registerEnableBtn,
    &.resetBtn,
    &.forgotBtn {
      background: variables.$DarkGreen;
      color: variables.$NeutralsPureWhite;
      font-size: 16px;
    }
  }

  //this is for top profile dropdown
  .c-header-nav-items {
    .dropdown-menu {
      .dropdown-item {
        font-size: 16px;

        &:focus {
          background: variables.$GreyScale10;
          color: variables.$NeutralsWarmBlack;
        }

        &:hover {
          background: variables.$GreyScale10;
          color: $NeutralsWarmBlack;
        }

        &:active {
          background: variables.$GreyScale10;
          color: variables.$NeutralsWarmBlack;
        }
      }
    }
  }
}

.ant-layout-header,
.header {
  background: #fff !important;
  border-bottom: 1px solid #d8dbe0;
  z-index: 1029;
  height: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  min-height: 56px;
  padding: 27px 24px !important;
  line-height: 100% !important;
  .header__item {
    list-style: none;
    display: flex;
    align-items: center;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 50px !important;
  padding: 0 1rem;
}

.body {
  background: #fff;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #fff;

  //this a check if they remove the terms dropdown from console this is ll be a second layer
  .openSend {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
  }

  .c-main {
    background: #fff;
  }

  .sub-topbar {
    color: variables.$NeutralsWarmBlack;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 15px;
    padding-right: 15px;
    .sub-topbar__item {
      height: 42px;
    }
  }

  button {
    &:focus {
      box-shadow: none;
    }
    &.button-dropdown {
      border: 0;
      display: flex;
      justify-items: center;
      width: 30px;
    }

    &.subscribe,
    &.seePlan {
      color: variables.$DarkGreen;
    }

    &.current {
      color: variables.$GreyScale75;
      background: variables.$NeutralsPureWhite;
      pointer-events: none;
    }
  }

  .modal {
    z-index: 99999;
    color: variables.$NeutralsWarmBlack;
    .form-control.is-valid,
    .form-control.is-invalid {
      background-image: none;
    }

    .modal-content {
      // max-width: 500px;
      .modal-body {
        input,
        textarea {
          color: variables.$NeutralsWarmBlack;
        }
      }
    }
  }
  .btn-primary {
    background: #439775;
    color: #ffffff;
    border-radius: 0.25rem;
  }
  .btn-text {
    strong {
      top: 0 !important;
    }
  }
  .btn-secondary {
    color: #4f5d73;
    background-color: #ced2d8;
    border-color: #ced2d8;
    &:not(:disabled):not(.disabled):hover {
      color: #4f5d73;
      background-color: #b2b8c1;
      border-color: #abb1bc;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgb(187 192 201 / 50%);
      }
    }
  }
  .selectedAction {
    background: #439775;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(67, 151, 117);
    color: #ffffff;
    border: 0px;
  }
}
.layout-footer {
  padding: 0 0 !important;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden !important;
}
.fixed-body {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}
.ant-input-number {
  width: 100% !important;
}
a {
  text-decoration: none !important;
}
.modal-backdrop {
  z-index: 1100 !important;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    width: 800px !important;
  }
  .modal-xxl {
    width: 1140px !important;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    width: 1140px !important;
  }
}

.modal-sm {
  max-width: 500px !important;
  width: 100% !important;
}

.dropdown-notification {
  .ant-progress-bg {
    height: 16px !important;
  }
}

.ant-modal-wrap {
  .termsModal,
  .editViewer,
  .editManager,
  .createManager,
  .createViewer,
  .profileModal,
  .removePayment,
  .cancelBilling,
  .passModal,
  .AppInstallationWrapper {
    .ant-modal-content {
      .btn-text {
        strong {
          top: 0 !important;
        }
      }
      .btn-secondary {
        color: #4f5d73;
        background-color: #ced2d8;
        border-color: #ced2d8;
      }
      border-radius: 2%;
      .ant-modal-title {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 1.1rem;
      }
      h5 {
        color: variables.$NeutralsWarmBlack;
        font-family: variables.$fontFamilyBold;
        font-weight: 600;
        font-size: 1.1rem;
      }
      input,
      textarea {
        color: variables.$NeutralsWarmBlack;
        font-family: variables.$fontFamilyBold;
        font-weight: 600;
        font-size: 1.1rem;
      }
      .ant-form-item-label {
        font-size: 14px;
        font-family: variables.$fontFamilyBold;
        color: variables.$NeutralsWarmBlack;
      }
      .ant-modal-body {
        padding: 1rem 1rem 0 1rem !important;
        .cancelBillingBtn {
          display: flex;
          align-items: center;
        }
        .custom-modal-body {
          padding-bottom: 1rem;
          label {
            font-weight: 700;
            font-size: 14px;
            font-family: variables.$fontFamilyBold;
          }
          button {
            color: variables.$NeutralsWarmBlack;
            font-family: variables.$fontFamilyBold;
          }
        }
      }
    }
  }
}

.ant-input-group {
  .ant-input {
    padding: 5px 11px;
  }
}

.ant-empty {
  .ant-empty-description {
    margin: 24px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: variables.$NeutralsWarmBlack;
  }
  .ant-empty-footer {
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
}

.font-weight-500 {
  font-weight: 500 !important;
}

.removeImageDefault {
  .ant-empty-image {
    display: none;
  }
}

.ant-progress-steps-item {
  border-radius: 8px;
}

@media (min-width: 576px) {
  .ant-empty {
    width: 360px;
    margin: auto;
  }
  .ant-layout-header {
    line-height: 0 !important;
    height: 100% !important;
  }
}

.confirmModal {
  .ant-modal-confirm-title,
  .ant-modal-confirm-content {
    color: variables.$NeutralsWarmBlack;
  }
  .ant-btn-default {
    font-weight: 500;
    color: variables.$NeutralsWarmBlack;
  }
  .ant-btn-dangerous {
    color: variables.$Danger;
  }
}
