@use "variables";

.provisionSetupDrawerWrapper {
  .ant-drawer-header {
    .ant-drawer-close {
      padding-left: 0;
    }
    .ant-drawer-title {
      color: variables.$NeutralsWarmBlack;
    }
  }
  .ant-drawer-extra {
    .ant-btn-default {
      color: variables.$NeutralsWarmBlack;
    }
  }
  .ant-drawer-body {
    padding: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 16px;
      background: rgba(8, 9, 8, 0.15);
      border: 1px solid #aaa;
    }

    &::-webkit-scrollbar-thumb:active {
      background: linear-gradient(to right, #22add4, #1e98ba);
    }
    .ant-row {
      .leftCol {
        border-right: 1px solid #e3e3e3;
        background: rgba(8, 9, 8, 0.04);

        .provisionStep {
          padding: 24px;
          .ant-steps-item-process
            > .ant-steps-item-container
            > .ant-steps-item-tail::after,
          .ant-steps-item-wait
            > .ant-steps-item-container
            > .ant-steps-item-tail::after {
            background-color: rgba(8, 9, 8, 0.06);
          }
          .ant-steps-item-container {
            height: 40px;
            .ant-steps-item-tail::after {
              height: 14px;
            }
            .ant-steps-icon-dot {
              width: 8px;
              height: 8px;
            }
            .ant-steps-item-title {
              font-size: 14px;
              font-weight: 400;
              color: variables.$NeutralsWarmBlack;
            }
          }
        }
      }
      .rightCol {
        .provisionMain {
          padding: 24px;
          width: 100%;
          gap: 24px !important;
          .copyInput {
            border-radius: 6px;
            margin-top: 4px;
            svg {
              color: variables.$PrimaryGreen;
            }
            .ant-input {
              color: variables.$NeutralsWarmBlack;
            }
          }
          .disabled {
            pointer-events: none;
          }
          .alertError {
            border-radius: 6px;
            .ant-alert-content {
              color: variables.$NeutralsWarmBlack;
              .ant-alert-message {
                font-weight: 500;
              }
            }
          }
          .copyValidateInput {
            border-radius: 6px;
            margin-top: 4px;
            .ant-input {
              color: variables.$NeutralsWarmBlack;
            }
          }
          .provisionTitle {
            h5 {
              color: variables.$NeutralsWarmBlack;
              font-weight: bold;
            }
          }
          .provisionBody {
            .ant-form-item {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}
.discountDrawerWrapper,
.installationLinkDrawerWrapper,
.clientDrawerWrapper {
  .ant-drawer-content-wrapper {
    width: 378px !important;
    .ant-drawer-body {
      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: variables.$PrimaryGreen;
      }
    }
    .discountMain,
    .installationLinkMain {
      width: 100%;
      .copyValidateInput {
        border-radius: 6px;
        margin-top: 4px;
        svg {
          color: variables.$PrimaryGreen;
        }
        .ant-input {
          color: variables.$NeutralsWarmBlack;
        }
      }
      .discountDescription {
        color: variables.$NeutralsWarmBlack;
      }
    }
  }

  .ant-drawer-title,
  .ant-btn-default,
  .ant-input,
  .ant-select {
    color: variables.$NeutralsWarmBlack;
  }

  h5 {
    font-size: 16px;
    color: variables.$NeutralsWarmBlack;
    font-weight: 400;
  }

  .ant-form-item-label > label {
    color: variables.$PrimaryGrey;
  }

  .ant-divider {
    margin-top: 12px;
  }

  .ant-segmented {
    width: 100%;
    .ant-segmented-item {
      width: 50%;
    }
  }

  .ant-input-affix-wrapper {
    border-radius: 6px;
  }

  .ant-select-selector {
    border-radius: 6px !important;
  }

  .ant-input-number-affix-wrapper {
    width: 100%;
    border-radius: 6px;
  }

  .ant-radio-group {
    width: 100%;
    display: flex;
    padding: 2px;
    border-radius: 2px;
    background-color: rgba(8, 9, 8, 0.04);
    .ant-radio-button-wrapper {
      flex: 1;
      border-radius: 6px;
      height: 28px;
      background-color: transparent;
      border: none !important;
      text-align: center;
      &:not(:first-child)::before {
        content: none;
      }
    }
    .ant-radio-button-wrapper-checked {
      background-color: #ffffff;
      color: variables.$NeutralsWarmBlack;
      &::before {
        content: none;
      }
      &:focus-within {
        box-shadow: none;
      }
    }
  }
}

.templatesDrawerWrapper {
  .ant-drawer-content-wrapper {
    width: 100% !important;
    .ant-drawer-header {
      .ant-drawer-close {
        padding-left: 0;
      }
      .ant-drawer-title {
        color: variables.$NeutralsWarmBlack;
      }
    }
    .ant-drawer-extra {
      .ant-btn-default {
        color: variables.$NeutralsWarmBlack;
      }
    }
    .ant-drawer-body {
      padding: 0;
      .ant-row {
        height: 100%;
        .rightCol {
          border-left: 1px solid #e3e3e3;
          background-color: rgba(8, 9, 8, 0.04);
          opacity: 0.8;
          background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
          background-size: 10px 10px;

          .ant-space-item:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: center;
          }
          .templateDevice {
            padding: 24px;
            width: 100%;
            .segmented {
              border-radius: 6px;
              padding: 2px;
              margin-bottom: 15px;
              .ant-segmented-item {
                border-radius: 6px;
              }
              .ant-segmented-item-label {
                text-overflow: inherit;
              }
            }
            .PreviewCard {
              background-color: #ffffff;
              border-radius: 6px;
              text-align: center;
              overflow: hidden;
              .HeaderContainer {
                background-color: #fafafa;
                padding: 15px;
                text-align: left;
                h6 {
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  margin-bottom: 0px;
                }
              }
              .BodyContainer {
                margin: 15px 0 0;
                box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.04);
                margin: auto;
                .ant-card-body {
                  padding: 0px;
                }
                .BodyLogo {
                  padding: 25px 48px;
                }
                .BodyImage {
                  height: 184px;
                  width: 100%;
                  margin: auto;
                  background-color: rgba(8, 9, 8, 0.02);
                }
                .BodyContent {
                  padding: 0 25px 15px 25px;
                  h1 {
                    font-size: 24px;
                    color: variables.$NeutralsWarmBlack;
                  }
                }
                .BodyProduct {
                  padding: 15px 0;
                  .BodyProductImage {
                    background-color: rgba(8, 9, 8, 0.02);
                    width: 200px;
                    height: 200px;
                    margin: auto;
                  }
                  h2 {
                    font-size: 16px;
                    color: variables.$NeutralsWarmBlack;
                    margin-top: 15px;
                  }
                }
              }
              .Footer {
                padding: 20px;
                background-color: #fafafa;
                p {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .leftCol {
          .templateCollapse {
            width: 100%;
            padding: 24px;
            .ant-space-item {
              width: 100%;
              .ant-collapse-borderless {
                background-color: #fff;
                .ant-collapse-header {
                  background: rgba(8, 9, 8, 0.02);

                  border: 1px solid rgba(8, 9, 8, 0.06);
                  border-radius: 6px;
                  .ant-collapse-header-text {
                    color: variables.$NeutralsWarmBlack;
                    font-weight: 500;
                  }
                  .ant-collapse-expand-icon {
                    svg {
                      margin-top: 2px;
                    }
                  }
                }
                .ant-collapse-content-box {
                  .ant-form-item:last-child {
                    margin-bottom: 0;
                  }
                }
                .ant-upload {
                  .ant-btn {
                    color: variables.$NeutralsWarmBlack;
                  }
                }
                .ant-upload,
                .ant-input-number-affix-wrapper {
                  width: 100% !important;
                  border-radius: 6px;
                  margin-top: 4px;
                  .ant-input-number-handler-wrap {
                    display: none;
                  }
                }
                .ant-input-affix-wrapper {
                  border-radius: 6px;
                  margin-top: 4px;
                }
              }
              .ant-collapse-borderless > .ant-collapse-item {
                border-bottom: 0;
              }
              .ant-collapse-content > .ant-collapse-content-box {
                padding: 0;
                padding-top: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.templatesDrawerWrapper {
  .mobilePreviewCard {
    width: 40%;
  }
  .desktopPreviewCard {
    width: 100%;
  }
  .desktopBodyContainer {
    width: 50%;
  }
}

@media (max-width: 1290px) {
  .templatesDrawerWrapper {
    .mobilePreviewCard {
      width: 46%;
    }
  }
}

@media (max-width: 1100px) {
  .templatesDrawerWrapper {
    .mobilePreviewCard {
      width: 55%;
    }
  }
}

@media (max-width: 600px) {
  .templatesDrawerWrapper {
    .mobilePreviewCard {
      width: 70%;
    }
  }
}

@media (max-width: 450px) {
  .templatesDrawerWrapper {
    .mobilePreviewCard {
      width: 80%;
    }
    .desktopBodyContainer {
      width: 80%;
    }
    .ant-drawer-content-wrapper {
      .ant-drawer-header {
        padding: 16px 8px;
      }
    }
  }
}

@media (max-width: 400px) {
  .templatesDrawerWrapper {
    .mobilePreviewCard {
      width: 85%;
    }
  }
}

@media (max-width: 768px) {
  .discountDrawerWrapper,
  .installationLinkDrawerWrapper,
  .clientDrawerWrapper {
    .ant-drawer-content-wrapper {
      .ant-drawer-body {
        .ant-row {
          flex-grow: unset;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .discountDrawerWrapper,
  .installationLinkDrawerWrapper,
  .clientDrawerWrapper {
    .ant-drawer-content-wrapper {
      width: 736px !important;
    }
  }
  .provisionSetupDrawerWrapper {
    .ant-drawer-content-wrapper {
      width: 768px !important;
    }
  }
}

@media (min-width: 1024px) {
  .provisionSetupDrawerWrapper {
    .ant-drawer-content-wrapper {
      width: 1024px !important;
    }
  }
}
